* {
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 90vw;
    margin: auto;
}
/* header page str */
.navbar-container {
    padding: 20px;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.logo-container .img img {
    height: 40px;
}

.logo-container .img-text {
    padding: 4px 0px 0px 19px;
    color: brown;
}

.navbar-container .links-container {
    display: flex;
    justify-content: end;
}

.links-container .link {
    padding: 10px;
    font-size: 18px;
    margin-right: 20px;
    text-align: center;
}

.links-container .link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.651);
    font-weight: 400;
    text-decoration: underline;
}
/* end header */

/* hero section str */
.hero-container{
    margin-top: 20px;

}
.hero-container{
    display: flex;
    justify-content: space-evenly;   
}

.hero-container .img-container img{
   height: 40vh;
   width: 30vw;
   border-radius: 10%;
}
.text-container{
   padding: 50px;
   word-wrap: break-word;
   margin: 30px;
   text-align: justify;
}
.cards-container{
    width: 18rem;
    height: 20rem;
    border-color: #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(194, 212, 212);
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    
}
.card {
    margin-top: 5px;
    text-align: center;
}
.card .card-img img{
    height: 100px;
    border-radius: 80px;
}
/* .card .card-title{
  
} */
.card .card-txt-container{
    margin: top 5px;
    padding: 20px;
    word-wrap: break-word;
}

.overlay-container{
    position: relative;
   
    
}
.overlay-container  .overlay-img img{
   height: 300px;
   width: 100%;
   filter: blur(2px);
}
/* .overlay-container  .overlay-img img:hover{
    filter: blur(3px);  
} */
.overlay-container .overlay-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50, -50);
    font-size: 46px;
    font-weight: 600;
    color: #fff;
}
.card-holders{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}