* {
    padding: 0;
    margin: 0;
}
.wrapper{
    width: 90vw;
    margin: auto;
}
/* header page str */
.navbar-container {
    padding: 20px;
    background-color: #ccc;
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.logo-container .img img {
    height: 40px;
}

.logo-container .img-text {
    padding: 4px 0px 0px 19px;
    color: brown;
}

.navbar-container .links-container {
    display: flex;
    justify-content: end;
}

.links-container .link {
    padding: 10px;
    font-size: 18px;
    margin-right: 20px;
    text-align: center;
}

.links-container .link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.651);
    font-weight: 400;
    text-decoration: underline;
}

.fa-facebook{
  color: rgb(0, 0, 0);
}
.fa-facebook:hover{
  color: blue;
  cursor: pointer;
}
/* end header */

/* hero section str */
.hero-container{
    margin-top: 20px;

}
.hero-container{
    display: flex;
    justify-content: space-evenly;   
}
 
.hero-container::-webkit-scrollbar {
    width: 20px;
  }
  /* Track */
  .hero-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .hero-container::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .hero-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.hero-container .img-container img{
   height: 40vh;
   width: 30vw;
   border-radius: 10%;
}
.text-container{
   padding: 50px;
   word-wrap: break-word;
   margin: 30px;
   text-align: justify;
}
.cards-container{
    width: 18rem;
    height: 20rem;
    border-color: #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(194, 212, 212);
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    
}
.card {
    margin-top: 5px;
    text-align: center;
}
.card .card-img img {
    height: 171px;
    width: 100%;
    border-radius: 10px 0px 0px 0px;
}
/* .card .card-title{
  
} */
.card .card-txt-container{
    margin: top 5px;
    padding: 20px;
    word-wrap: break-word;
}

.overlay-container{
    position: relative;
   
    
}
.overlay-container  .overlay-img img{
   height: 300px;
   width: 100%;
   filter: blur(2px);
}
/* .overlay-container  .overlay-img img:hover{
    filter: blur(3px);  
} */
.overlay-container .overlay-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50, -50);
    font-size: 46px;
    font-weight: 600;
    color: #fff;
}
.card-holders{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(114, 118, 247);
    padding-top: 15px;
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #CCC;
}
.footer-img img{
    margin-top: 10px;
    margin-left: 20px;
    height: 80px;
    width: 60%;
    border-radius: 30px;
}
.footer-desc{
    text-align: center;
    padding: 10px;
}
.footer-links{
    display: grid;
    place-items: center;
    padding: 10px;
}
.footerr{
 padding: 10px;
 text-align: center;
 background-color: black;
 color: #fff;
}
.gallery-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 80vw;

    
}

.gallery-container .item img {
    width: 100%;
    height: 100%;
  }


  .row1{
    grid-row: 2 / span 2;
    background-color: black;
  }
  .col2{
    grid-column: 1/ span 2;
    background-color: red;
  }
  .col3{
    grid-column: 2 / span 2;

  }
  .col4{
    grid-column: span 1;
    background-color: black;
  }
  .row2{
    grid-row:  span 2;
  }
body{
    /* background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100'); */
    /* background-position: center; */
    
}

  .form-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    background: #e0e0e0;
  }
  .form-container .inner-form{
    padding: 25px;
    /* background-image: url("./img/pattern-10.jpg"); */
    /* background-color: #CCC; */
    /* height: 32vh; */
    background: #e0e0e0;
    border-radius: 15px;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    margin: 35px 0px;
  }
  .form-container .inner-form h3{
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  .form-container .inner-form div{
    margin-top: 20px;
  }
  .form-container .inner-form .form_input{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
  } 
  .form-container .inner-form .form_input input{
    overflow: hidden;
    outline: none;
    border-radius: 10px;
    height: 40px;
    padding-left: 8px;
    border: none;
  }
.form-container .inner-form button{
  /* background-color: ; */
  width: 50%;
  height: 40px;
  margin-left: 55px ;
  border-radius: 40px;
  border: none;
}
.zindex-container {
    position: relative;
    height: 30vh;
}

.zindex-container img {
    height: 30vh;
    width: 100vw;
}

.zindex-container:hover {
    z-index: 1;
}

.zindex-h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2; /* Increase z-index to ensure it's above other elements */
    transform: translate(-50%, -50%);
}

.zindex-inner {
    position: absolute;
    height: 30vh;
    width: 100vw;
    top: 0;
    background-color: rgb(26, 185, 185);
    z-index: 1;
}

.zindex-inner:hover {
    z-index: -1;
    /* Adjust other styles if needed */
}
/* .card-holders .card-txt-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */


/* 
