*{
    padding: 0;
    margin: 0;
}

.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-left: 15rem; */
}

.header-container .header-img img{
    width: 10rem;
    height: 5rem;
}

.header-items{
    display: flex;
}
.header-items .items{
   padding: 30px;
}

.home-banner{
    /* width: 60vw; */
}
.home-banner-area{
    display: grid;
    gap: 20rem;
    grid-template-columns: 6fr 1fr 2fr;
    margin-top:30px ;
}

.home-banner .banner-text{
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 27vw;
}
.home-banner .banner-text h2{
    margin-bottom: 30px;
}


.about-us-area{
    width: 80vw;
    margin: auto;
    text-align: center;
}
.about-us{
    display: flex;
     gap: 50px;
    padding: 30px;
   
}
.about-us-img img{
    margin-left: 100px;
    width: 20vw;
    
}
.title-ab-us{
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;


}
.dot{
    padding: 5px;
    background-color: #f9a41c;
    border-radius: 12px;
    width: 1px;

}
.line{
    height: 2px;
    background-color: #f9a41c;
    width: 90px;
    display: flex;
    position: absolute;
    margin-top: 4px;
   }