* {
    margin: 0;
    padding: 0;
}

.navcontainer {
    display: grid;
    grid-template-columns: 3fr 7fr;
    background-color: #ccc;
    padding: 10px;
}
.navcontainer .logo .img img{
    height: 50px;
    margin-left: 30px;
}
.navcontainer .logotext{
    margin-left: 10px;
}

.link_container {
    display: flex;
    justify-content: end;
    margin-top:25px;
}

.link_container .items{
    display: flex;
    padding-right:50px;
}

.link_container .items:hover{
    color: brown;
}
.hero-container .image-section img{
    height: 17vw;
}
.hero-container{
    display: flex;
    margin-top: 10px;
    margin: 15px;
}

.hero-container .text-section{
    margin-left: 15px;
    word-wrap: break-word;
}
.card-container{
    height: 30vh;
    width: 30vw;
    background-color: rgb(141, 141, 201);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.card-container .card-box{
}

.card-container .card-box img{
    height: 5vw;
    border-radius: 50px;
    margin-top: 20px; 
}
